@font-face {
    font-family: ubuntu;
    src: url(../../assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Robato_slab thin;
    src: url(../../assets/fonts/Robato_slab/static/RobotoSlab-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: Robato_slab;
    src: url(../../assets/fonts/Robato_slab/static/RobotoSlab-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Robato_slab bold;
    src: url(../../assets/fonts/Robato_slab/static/RobotoSlab-Bold.ttf) format("truetype");
  }